[package]
name = "review-protocol"
version = "0.2.0-alpha.1"
edition = "2021"

[features]
client = ["oinq", "quinn"]
server = ["oinq", "quinn"]

[dependencies]
anyhow = "1"
async-trait = "0.1"
ipnet = { version = "2", features = ["serde"] }
num_enum = "0.7"
oinq = { git = "https://github.com/petabi/oinq.git", tag = "0.12.0", optional = true }
quinn = { version = "0.10", optional = true }
semver = "1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"

[dev-dependencies]
lazy_static = "1"
quinn = "0.10"
rcgen = "0.12"
rustls = "0.21"
tokio = { version = "1", features = ["macros", "rt"] }
